footer {
    background-color: var(--footer-background);
    color: var(--footer-color);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;
    border-top-left-radius: var(--border-radius-layout);
    border-top-right-radius: var(--border-radius-layout);
    color-scheme: light dark;
}

footer a {
    color: var(--footer-link-color);
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.5s ease;
    color-scheme: light dark;
}

footer a:hover {
    color: var(--footer-link-hover-color);
}
