.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 9.87px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.project-card {
    background-color: var(--project-card-background);
    border: 1px solid var(--project-card-border);
    border-radius: 12px;
    padding: 11.111px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    color-scheme: light dark;
}

.project-card:hover {
    transform: translateY(-1.75px);
}

.project-card-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.25px;
}

.project-card-icon {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin-right: 15px;
    object-fit: cover;
    flex-shrink: 0;
}

.project-card-text-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.project-card-title {
    font-size: 1.4em;
    font-weight: bold;
    color: var(--project-card-title-color);
    margin: 0;
}

.project-card-description {
    font-size: 0.9em;
    color: var(--project-card-description-color);
    margin: 0;
    flex-grow: 1;
}

.project-card-categories {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.project-card-category {
    background-color: var(--project-card-category-background);
    color: var(--project-card-category-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    white-space: nowrap;
}

.project-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.1px;
}

.project-card-downloads {
    font-size: 0.85em;
    color: var(--project-card-description-color);
}

.project-card-link {
    display: inline-block;
    background-color: var(--project-card-link-background);
    color: var(--project-card-link-color);
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
    color-scheme: light dark;
}

.project-card-link:hover {
    background-color: var(--project-card-link-hover-background);
}

@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}