:root {
    --border-radius-layout: 32px;
}

html, body {
    font-family: Arial, sans-serif;
    background-color: cornsilk;
    color: #222;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    cursor: url('/assets/vector/arrowhead-rounded-outline.svg') 12 12, auto;
}

a:hover {
    cursor: url('/assets/vector/hand-pointer.svg') 12 12, pointer;
}

main {
    --base-margin: clamp(20px, 10%, 120px);
    padding: 25px;
    padding-top: 0;
    flex-grow: 1;
    background-color: #f8f8f8;
    margin: var(--base-margin);
    margin-inline: calc(var(--base-margin) * 0.9);
    margin-top: calc(var(--base-margin) * 0.5);
    margin-bottom: calc(var(--base-margin) - 0.35 * var(--base-margin));
    border-radius: 32px 16px 48px 16px;
    border: 1px solid lightgray;
}

h2 {
    color: #333;
    margin-top: 0px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul a {
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.3s ease;
    background-color: #0069d98d;
    padding: 5px 10px;
    border-radius: 8px;
    transition: 
        color 0.3s ease,
        background-color 0.3s ease,
        padding 0.3s ease;
    transition-duration: 0.3s;
}

ul a:hover {
    /*text-decoration: underline;*/
    padding: 5px 12px;
    background-color: #0057b394;
}

.skrime-affiliate {
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.skrime-affiliate img {
    max-width: 100px;
    height: auto;
    margin-right: 15px;
}

.skrime-affiliate a {
    color: #2443ac;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.skrime-affiliate a:hover {
    color: #2443ac;
    text-decoration: underline;
}

@media (max-width: 768px) {
    main {
        padding: 15px;
    }
    .skrime-affiliate {
        flex-direction: column;
        text-align: center;
    }
    .skrime-affiliate img {
        margin-bottom: 10px;
        margin-right: 0;
    }
}

footer {
    background-color: #383838;
    color: #fefefe;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    text-align: center;
    border-top-left-radius: var(--border-radius-layout);
    border-top-right-radius: var(--border-radius-layout);
}

footer a {
    color: #90caf9;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.5s ease;
}

footer a:hover {
    color: lightblue;
}
